body {
	background: #fefffe;
	font: 12px/15px Arial, Helvetica, sans-serif;
	line-height: 20px;
	color: #6b6b6b;
}

#wrapper {
	text-align: center;
	margin: 0 auto;
}

#content {
	display: inline-block;
	padding: 20px;
	width: auto;
}

#footer {
	position: absolute;
	width: 100%;
	height: 50px;
	bottom: 0px;
	left: 0px;
}

label {
	float: left;
	text-align: right;
	margin-right: 0.5em;
	display: block;
	overflow: hidden;
	padding-right: 50px;
	font-weight: bold;
}

.loginInput {
	float: left;
	color: #6B6B6B;
	width: 320px;
	background-color: #F4F4F4;
	border: 1px;
	border-style: solid;
	border-color: #c4c4c4;
	padding: 6px;
	margin-bottom: 12px;
}

fieldset {
	width: 350px;
	padding: 10px 20px 10px 20px;
	overflow: hidden;
	border-style: none;
}

p {
	font-size: 10px;
}

