RewriteEngine On
# If an existing asset or directory is requested go to it as it is
RewriteCond %{DOCUMENT_ROOT}%{REQUEST_URI} -f [OR]
RewriteCond %{DOCUMENT_ROOT}%{REQUEST_URI} -d
RewriteRule ^ - [L]

# If the requested resource doesn’t exist, use index.html
#RewriteRule ^ /robin.php
RewriteRule ^ /vulnerabilities/api/public/index.php
#RewriteRule ^ /vulnerabilities/api/public/robin.php
