name: Docker DVWA build

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v1
      - name: Build Docker docker-dvwa image
        run: docker build -t docker-dvwa .
